#test2 {
  width: 800px;
  height: 800px;
  display: block;
}

* {

  text-align: center;
  font-size: 34px;
  /* background-color: #000; */

}

.jumbotron {
  background: rgba(83, 66, 241, 0.623);
}

ul {

  list-style-type: none;

}

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* Pulse Grow */
@-webkit-keyframes card-img-top {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

@keyframes card-img-top {
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}

.card-img-top {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.card-img-top:hover,
.card-img-top:focus,
.card-img-top:active {
  -webkit-animation-name: card-img-top;
  animation-name: card-img-top;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
}


/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */






.wrap {
  margin: auto;
  width: 900px;
  color: white;
}

.comment {
  font-weight: bold;
  color: blue;
}

.card-img-top {
  width: 300px;
  height: 200px;
}


._card {
  display: flex;
  width: 900px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-clip: padding-box;
}

.price {
  font-size: large;
  color: azure;
}


/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

.col-xs-3 {
  width: 25%;
  margin: auto;

}

/* .restaurantcontent .menuitem .pricecol .addtocart-button {
font-size: 1.2rem;
padding-right: 10px;
padding-left: 10px;
}

.btn.btn-rounded {
border-radius: 20px;
}

.btn {
-webkit-transition: background .05s ease-in;
transition: background .05s ease-in;
padding-left: 20px;
padding-right: 20px;

}

.btn-primary {
color: black;
background-color: #4b3ae7;
border-color: #324ad4;

}

.btn {
display: inline-block;
margin-bottom: 0;
font-weight: normal;
text-align: center;
vertical-align: middle;
-ms-touch-action: manipulation;
touch-action: manipulation;
cursor: pointer;
background-image: none;
border: 1px solid transparent;
white-space: nowrap;
padding: 6px 12px;
font-size: 16px;
line-height: 1.428571429;
border-radius: 0px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
} */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */




.posting-box {
  margin: 10px auto 30px auto;
  width: 500px;

  border: 3px solid black;
  border-radius: 5px;

  padding: 25px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}

strong {
  font-weight: bold;
  font-size: 40px;
  color: white;
}

  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */
  /* */

  * {
    box-sizing: border-box;
  }

  body {
    font-family: Roboto, "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", Dotum, applegothic, sans-serif, "Malgun Gothic";
    font-size: 16px;
    line-height: 1.42857;
    color: rgb(51, 51, 51);
    background-color: rgb(255, 255, 255);
  }




  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }

  .overlay:target {
    visibility: visible;
    opacity: 1;
  }





  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }

  .popup h2 {
    margin-top: 0;
    color: white;
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }

  .popup .close:hover {
    color: #06D85F;
  }

  .popup .content {
    max-height: 30%;
    overflow: auto;
    color: white;
  }





  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/

  .card-img-top {
    top: 40px;
    font-family: "proxima-nova", sans-serif;
    font-weight: 500;
    font-size: 13px;
    text-transform: uppercase !important;
    letter-spacing: 2px;
    color: #fff;
    cursor: hand;
    text-align: center;
    text-transform: capitalize;
    border: 1px solid #fff;
    border-radius: 50px;
    position: relative;
    overflow: hidden !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background: transparent !important;
    z-index: 10;

  }


  .card-img-top:hover {
    border: 1px solid #071982;
    color: #80ffd3 !important;
  }

  .card-img-top::before {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #071982;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 1;
    top: 0;
    z-index: -12;
    -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
  }

  .card-img-top::after {
    content: '';
    width: 0%;
    height: 100%;
    display: block;
    background: #80ffd3;
    position: absolute;
    -ms-transform: skewX(-20deg);
    -webkit-transform: skewX(-20deg);
    transform: skewX(-20deg);
    left: -10%;
    opacity: 0;
    top: 0;
    z-index: -15;
    -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
    -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
    transition: all .4s cubic-bezier(.2, .95, .57, .99);
    box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
  }

  .card-img-top:hover::before,
  .card-img-top:hover::before {
    opacity: 1;
    width: 116%;
  }

  .card-img-top:hover::after,
  .card-img-top:hover::after {
    opacity: 1;
    width: 120%;
  }

  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  /**/
  =======width: 800px;
  height: 800px;
  display: block;
}

* {

  >>>>>>>ad7f567... 3.15 text-align: center;
  font-size: 34px;
  background-color: #000;

}

.jumbotron {
  background: rgba(75, 46, 243, 0.623);
  text-align: center;
}

ul {

  list-style-type: none;

}

.wrap {
  margin: auto;
  width: 900px;
  color: white;
}

.comment {
  font-weight: bold;
  color: blue;
}

.card-img-top {
  width: 300px;
  height: 200px;
}


._card {
  display: flex;
  width: 900px;
  border: 2px solid #fff;
  border-radius: 5px;
  background-clip: padding-box;
}

.price {
  font-size: 50px;
  color: azure;
  white-space: nowrap;
}

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

.col-xs-3 {
  width: 25%;
  margin: auto;

}

/* .restaurantcontent .menuitem .pricecol .addtocart-button {
  font-size: 1.2rem;
  padding-right: 10px;
  padding-left: 10px;
} */

/* .btn.btn-rounded {
  border-radius: 20px;
} */

/* .btn {
  -webkit-transition: background .05s ease-in;
  transition: background .05s ease-in;
  padding-left: 20px;
  padding-right: 20px;

} */

/* .btn-primary {
  color: black;
  background-color: #ff9100;
  border-color: #e68300;
} */

/* .btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.428571429;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */




.posting-box {
  margin: 10px auto 30px auto;
  width: 500px;

  border: 3px solid black;
  border-radius: 5px;

  padding: 25px;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
  background-color: #4CAF50;
  color: white;
}

li a:hover:not(.active) {
  background-color: black;
  color: white;
}

strong {
  font-weight: bold;
  font-size: 40px;
  color: white;
}


.hvr-grow {
  /*display: inline-block;*/
  /*vertical-align: middle;*/
  /*transform: perspective(1px) translateZ(0);*/
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
  transition-property: transform;


}


.hvr-grow:focus,
.hvr-grow:active {
  transition: 4s;
  transform: scale(1.9);


}


/* */


/* .hvr-underline-from-left:active {
  display: inline-block;
  vertical-align: middle;
  
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #2098D1;
  height: 10px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 4.0s;
  transition-duration: 4.0s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
} */


/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */
/* */

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto, "Noto Sans CJK KR", "맑은 고딕", "Malgun Gothic", Dotum, applegothic, sans-serif, "Malgun Gothic";
  font-size: 16px;
  line-height: 1.42857;
  color: rgb(51, 51, 51);
  background-color: rgb(255, 255, 255);
}




.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}



.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 30%;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup h2 {
  margin-top: 0;
  color: white;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #06D85F;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
  color: white;
}





/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/

.card-img-top {
  top: 40px;
  font-family: "proxima-nova", sans-serif;
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase !important;
  letter-spacing: 2px;
  color: #fff;
  cursor: hand;
  text-align: center;
  text-transform: capitalize;
  border: 1px solid #fff;
  border-radius: 50px;
  position: relative;
  overflow: hidden !important;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  background: transparent !important;
  z-index: 10;

}


.card-img-top:hover {
  border: 1px solid #071982;
  color: #80ffd3 !important;
}

.card-img-top::before {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #071982;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  -moz-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  -webkit-transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  transition: all .7s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.card-img-top::after {
  content: '';
  width: 0%;
  height: 100%;
  display: block;
  background: #80ffd3;
  position: absolute;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  -webkit-transition: all .94s cubic-bezier(.2, .95, .57, .99);
  -moz-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  -o-transition: all .4s cubic-bezier(.2, .95, .57, .99);
  transition: all .4s cubic-bezier(.2, .95, .57, .99);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, .6);
}

.card-img-top:hover::before,
.card-img-top:hover::before {
  opacity: 1;
  width: 116%;
}

.card-img-top:hover::after,
.card-img-top:hover::after {
  opacity: 1;
  width: 120%;
}

/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/
/**/


.add-to-cart {
  --color: #fff;

  --icon: var(--color);

  --cart: #fff;

  --dots: #fff;

  --background: #0099ff;

  --shadow: rgba(0, 9, 61, 0.16);

  cursor: pointer;

  position: relative;

  outline: none;

  border: none;

  -webkit-appearance: none;

  -webkit-tap-highlight-color: transparent;

  font-size: 16px;

  border-radius: 22px;

  padding: 25px 32px;

  font-weight: 500;

  line-height: 20px;

  -webkit-transform: scale(var(--s, 0.97));

  transform: scale(var(--s, 0.97));

  box-shadow: 0 var(--s-y, 4px) var(--s-b, 12px) var(--shadow);

  color: var(--color);

  background: var(--background);

  transition: box-shadow 0.3s, -webkit-transform 0.3s;

  transition: transform 0.3s, box-shadow 0.3s;

  transition: transform 0.3s, box-shadow 0.3s, -webkit-transform 0.3s;
}

.add-to-cart .default {
  padding-left: 16px;

  position: relative;

  opacity: var(--o, 1);

  -webkit-transform: scale(var(--s, 1));

  transform: scale(var(--s, 1));

  transition: opacity 0.3s, -webkit-transform 0.3s;

  transition: transform 0.3s, opacity 0.3s;

  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;

  transition-delay: var(--d, 0.3s);
}

.add-to-cart .default:before,
.add-to-cart .default:after {
  content: "";

  width: 2px;

  height: 12px;

  left: 0;

  top: 4px;

  border-radius: 1px;

  background: var(--icon);

  position: absolute;

  -webkit-transform: rotate(var(--r, 0deg));

  transform: rotate(var(--r, 0deg));

  transition: -webkit-transform 0.25s;

  transition: transform 0.25s;

  transition: transform 0.25s, -webkit-transform 0.25s;
}

.add-to-cart .default:after {
  --r: 90deg;
}

.add-to-cart .success {
  opacity: var(--o, 0);

  -webkit-transform: translate(-50%, var(--y, 12px));

  transform: translate(-50%, var(--y, 12px));

  position: absolute;

  top: 12px;

  left: 50%;

  transition: opacity 0.3s, -webkit-transform 0.3s;

  transition: opacity 0.3s, transform 0.3s;

  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;

  transition-delay: var(--d, 0s);
}

.add-to-cart .dots {
  width: 4px;

  height: 4px;

  top: 20px;

  left: 50%;

  margin-left: -7px;

  border-radius: 2px;

  position: absolute;

  -webkit-transform-origin: 10px 50%;

  transform-origin: 10px 50%;

  background: var(--dots);

  box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);

  opacity: var(--o, 0);

  -webkit-transform: scale(var(--s, 0.4));

  transform: scale(var(--s, 0.4));

  transition: opacity 0.3s, -webkit-transform 0.3s;

  transition: opacity 0.3s, transform 0.3s;

  transition: opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;

  transition-delay: var(--d, 0s);
}

.add-to-cart .cart {
  position: absolute;

  left: 0;

  top: 0;

  right: 0;

  bottom: 0;

  z-index: 1;

  border-radius: inherit;

  overflow: hidden;

  -webkit-mask-image: -webkit-radial-gradient(white, black);
}

.add-to-cart .cart:before {
  content: "";

  position: absolute;

  width: 20px;

  height: 16px;

  background: var(--background);

  top: 17px;

  right: 100%;

  z-index: 1;

  margin-right: -20px;

  -webkit-transform: translateX(-18px) rotate(-16deg);

  transform: translateX(-18px) rotate(-16deg);
}

.add-to-cart .cart>div {
  top: 13px;

  right: 100%;

  -webkit-transform: translateX(-18px) rotate(-16deg);

  transform: translateX(-18px) rotate(-16deg);

  position: absolute;

  z-index: 2;

  -webkit-transform-origin: 1px 21px;

  transform-origin: 1px 21px;
}

.add-to-cart .cart>div:before,
.add-to-cart .cart>div:after {
  content: "";

  position: absolute;

  top: var(--t, 4px);

  left: var(--l, 0);

  height: 2px;

  width: var(--w, 18px);

  background: var(--cart);

  border-radius: 1px;
}

.add-to-cart .cart>div:after {
  --w: 16px;

  --t: 14px;

  --l: 1px;
}

.add-to-cart .cart>div>div {
  width: 2px;

  height: var(--h, 15px);

  border-radius: 1px;

  -webkit-transform: rotate(var(--r, -8deg));

  transform: rotate(var(--r, -8deg));

  background: var(--cart);

  position: relative;
}

.add-to-cart .cart>div>div:before,
.add-to-cart .cart>div>div:after {
  content: "";

  position: absolute;

  background: inherit;
}

.add-to-cart .cart>div>div:after {
  width: 4px;

  height: 4px;

  border-radius: 2px;

  bottom: var(--b, -6px);

  left: var(--l, 0);
}

.add-to-cart .cart>div>div:first-child:before {
  border-radius: inherit;

  top: 0;

  right: 0;

  height: 2px;

  width: 6px;

  -webkit-transform-origin: 5px 1px;

  transform-origin: 5px 1px;

  -webkit-transform: rotate(16deg);

  transform: rotate(16deg);
}

.add-to-cart .cart>div>div:last-child {
  --h: 12px;

  --r: 8deg;

  position: absolute;

  left: 16px;

  bottom: -1px;
}

.add-to-cart .cart>div>div:last-child:after {
  --l: -2px;

  --b: -5px;
}

.add-to-cart.added .default {
  --o: 0;

  --s: 0.8;

  --d: 0s;
}

.add-to-cart.added .default:before {
  --r: -180deg;
}

.add-to-cart.added .default:after {
  --r: -90deg;
}

.add-to-cart.added .dots {
  --o: 1;

  --s: 1;

  --d: 0.3s;

  -webkit-animation: dots 2s linear forwards;

  animation: dots 2s linear forwards;
}

.add-to-cart.added .success {
  --o: 1;

  --y: 0;

  --d: 1.8s;
}

.add-to-cart.added .cart:before,
.add-to-cart.added .cart>div {
  -webkit-animation: cart 2s forwards;

  animation: cart 2s forwards;
}

.add-to-cart:not(.added):hover {
  --s: 1;

  --s-y: 8px;

  --s-b: 20px;
}

.add-to-cart:not(.added):active {
  --s: 0.94;

  --s-y: 2px;

  --s-b: 6px;
}

@-webkit-keyframes cart {

  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);

    transform: translateX(72px) rotate(0deg);
  }

  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);

    transform: translateX(72px) rotate(0deg) translateY(1px);
  }

  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);

    transform: translateX(180px) rotate(-16deg);
  }
}

@keyframes cart {

  41%,
  49%,
  57%,
  60% {
    -webkit-transform: translateX(72px) rotate(0deg);

    transform: translateX(72px) rotate(0deg);
  }

  40%,
  47%,
  54% {
    -webkit-transform: translateX(72px) rotate(0deg) translateY(1px);

    transform: translateX(72px) rotate(0deg) translateY(1px);
  }

  100% {
    -webkit-transform: translateX(180px) rotate(-16deg);

    transform: translateX(180px) rotate(-16deg);
  }
}

@-webkit-keyframes dots {
  5% {
    -webkit-transform: translateY(0);

    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);

    transform: translateY(-20px) rotate(-32deg);

    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }

  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }

  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);

    transform: translateY(0) rotate(0deg);

    opacity: 1;
  }

  45%,
  100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }

  51%,
  100% {
    opacity: 0;
  }
}

@keyframes dots {
  5% {
    -webkit-transform: translateY(0);

    transform: translateY(0);
  }

  25% {
    -webkit-transform: translateY(-20px) rotate(-32deg);

    transform: translateY(-20px) rotate(-32deg);

    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }

  31% {
    box-shadow: 5px -4px 0 var(--dots), 10px -8px 0 var(--dots);
  }

  32%,
  50% {
    -webkit-transform: translateY(0) rotate(0deg);

    transform: translateY(0) rotate(0deg);

    opacity: 1;
  }

  45%,
  100% {
    box-shadow: 5px 0 0 var(--dots), 10px 0 0 var(--dots);
  }

  51%,
  100% {
    opacity: 0;
  }
}

html {
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}

*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;

  display: flex;

  font-family: "Roboto", Arial;

  justify-content: center;

  align-items: center;

  background: black;
}

body .dribbble {
  position: fixed;

  display: block;

  right: 20px;

  bottom: 20px;
}

body .dribbble img {
  display: block;

  height: 28px;
}

body .twitter {
  position: fixed;

  display: block;

  right: 64px;

  bottom: 14px;
}

body .twitter svg {
  width: 32px;

  height: 32px;

  fill: #1da1f2;
}
